body {
    background-image: url("../img/login_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-box {
    margin-top: 30px;
}

.switch-form {
    float: right;
    font-size: 90%;
    position: relative;
    top: -17px
}

.input-group {
    margin-bottom: 20px;
}

.panel-body {
    padding-top: 20px !important;
}
